files:
    "/var/local/mount_s3_bucket.sh":
        mode: "000777"
        owner: root
        group: root
        content: |
            #!/usr/bin/env bash

            ## Mount S3FS, if it isn't already mounted
            if mount | grep s3fs > /dev/null;
            then :;
            else
                rm -rf /var/local/s3fs-mounted
                mkdir /var/local/s3fs-mounted
                /usr/bin/s3fs $S3_BUCKET /var/local/s3fs-mounted -o allow_other -o use_cache=/tmp -o nonempty
            fi

container_commands:
    02-mount-s3fs:
        command: sh /var/local/mount_s3_bucket.sh
        cwd: /