files:
    "/var/local/create_s3_symlink.sh":
        mode: "000755"
        owner: root
        group: root
        content: |
            #!/usr/bin/env bash

            # Delete any images you uploaded
            rm -rf /var/app/ondeck/wp-content/uploads
            # Create symlink
            ln -s /var/local/s3fs-mounted/uploads /var/app/ondeck/wp-content/uploads
            chmod 777 /var/app/ondeck/wp-content/uploads


container_commands:
    03-create_s3_symlink:
        command: sh /var/local/create_s3_symlink.sh
        cwd: /